<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>left_rear_wheel_joint</left_joint>
            <right_joint>right_rear_wheel_joint</right_joint>
            <wheel_separation>${base_width - wheel_width}</wheel_separation>
            <wheel_radius>0.1</wheel_radius>
            <odom_publish_frequency>10.0</odom_publish_frequency>
            <topic>/cmd_vel</topic>
            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            <!-- 此处不是odom_frame_id,否则不能发布odom话题，tf_tree上没有odom，如果使用odom_frame_id,
            则这个标签不起作用，系统会使用默认的odom话题，并给他加上命名空间，这个命名空间会和my_robot.urdf.xacro
            文件中的robot标签 中的name属性值一样-->
            <frame_id>odom</frame_id>        
            <child_frame_id>base_footprint</child_frame_id>
            <max_linear_velocity>2.0</max_linear_velocity>
            <min_linear_velocity>-2.0</min_linear_velocity>
            <max_angular_velocity>1.57</max_angular_velocity>
            <min_angular_velocity>-1.57</min_angular_velocity>
            <max_linear_acceleration>2.0</max_linear_acceleration>
            <min_linear_acceleration>-5.0</min_linear_acceleration>
            <max_angular_acceleration>3.14</max_angular_acceleration>
            <min_angular_acceleration>-3.14</min_angular_acceleration>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <joint_name>right_rear_wheel_joint</joint_name>
            <joint_name>left_rear_wheel_joint</joint_name>
            <joint_name>left_front_wheel_joint</joint_name>
            <joint_name>right_front_wheel_joint</joint_name>
            <update_rate>50.0</update_rate>
            
        </plugin>

    </gazebo>

    <!-- 车身颜色 -->
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- 轮子颜色 -->
    <gazebo reference="left_rear_wheel">
        <material>Gazebo/Green</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        
    </gazebo>

    <gazebo reference="right_rear_wheel">
        <material>Gazebo/Green</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        
    </gazebo>

    <gazebo reference="left_front_wheel">
        <material>Gazebo/Green</material>
        <mu1>0.000001</mu1>
        <mu2>0.000001</mu2>
        
    </gazebo>

    <gazebo reference="right_front_wheel">
        <material>Gazebo/Green</material>
        <mu1>0.000001</mu1>
        <mu2>0.000001</mu2>
        
    </gazebo>

    <!-- 雷达 -->
    <gazebo reference="lidar_link">
        <sensor name='lidar' type='gpu_lidar'>
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <topic>/scan</topic>
            <gz_frame_id>lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>20.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>

    <!-- 相机 -->
    <gazebo reference="camera_link"> 
         <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <topic>/camera/image_raw</topic>
        <camera>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.007</stddev>
            </noise>
        </camera>
        </sensor>
    </gazebo>

    <!-- imu -->
    <gazebo reference="imu_link">
        <sensor name="imu_senser" type="imu">
            <update_rate>50.0</update_rate>
            <visualize>true</visualize>
            <always_on>1</always_on>
            <visualize>true</visualize>
            <topic>/imu</topic>
            
        </sensor>
    </gazebo> 
    
    <gazebo>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>
</robot>