<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- IMU link -->
    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        
        <xacro:box_inertia
        m="0.3"
        x="0.02"
        y="0.02"
        z="0.02"
        o_xyz="0.0 0.0 0.0"
        o_rpy="0.0 0.0 0.0"/>
    </link>
    
    <joint name="imu_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  
    
</robot>
