<?xml version="1.0"?>
<!-- 这个文文件的robot标签一定要有name属性，否则rviz和gazebo都不能加载机器人 -->
<robot name="first_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:include filename="$(find robot_description)/urdf/common_macro.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/base.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/camera.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/lidar.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/gazebo_control.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/imu.xacro"/>
</robot>